body {
    font-family: "Poppins", sans-serif;
}

.box {
    width: 300px;
    height: 300px;
    padding: 20px 30px 40px;
    border: 1px #000 solid;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
    background-color: hotpink;
}

/* Box Model: content-padding-border-margin
border: none;
border-radius: 50%; 
    > 원 모양
padding: 20px 30px 40px 30px;
    > top-right-bottom-left 순서
    > top-bottom, right-left 쌍 (입력 안 할 경우) */


